/* CSS Document */
.body{
	 width:1000px; 
	 padding:0px ; 
	 margin:0 auto;
	  }

.b1{ 
	text-decoration:none;
	}

.b2 { 
	text-decoration:none;
	width: 90px;
	height: 35px;
	margin: 10px 5px 15px 0px;

	}

.b3 { 
	font-style:none ; 
	text-decoration:none;
	padding-left: 26%;
	color:#999999 ; 
	display:inline ; 
	}


.upper ul a{  
	
	 font-style:none ;
	 display:inline ; 
	 text-decoration:none ; 
	 font-size:16px ; 
	 color:#999999 ; 
	 padding-right: 25px; 
	 text-align: center;
	
	}


.lower ul a li{ 
	 font-style:none ; 
	 display:inline ; 
	 text-decoration:none ; 
	 font-size:16px ;  
	 color:#999999 ; 
	 padding-left: 45px; 
	 margin:0 auto;
	 text-align: center;
	}

.clear{ 
	clear:both;
	}

.user-pict-32 img {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
}

#a1{
	width: 32px;
    height: 32px;
    display: inline-block;
    padding-right: 5px; 

}

.txt {
 	 display: inline-block;
 	 outline: none;
 	 margin:0;
 	 padding: 7px 20px;
 	 width: 17%

 	}

.btn {
  	display: inline-block;
  	padding-left:-5px;
  	margin:0;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



a:hover {
  color: #4CAF50;
  background-color: transparent;
  text-decoration: underline;
  display: inline-block;
}


